A:link   { font-family: , u, arial, helvetica; font-size: 9pt; color: #383838 ; text-decoration: none}
A:visited{ font-family: , u, arial, helvetica; font-size: 9pt; color: #383838  ; text-decoration: none}
A:active { font-family: , u, arial, helvetica; font-size: 9pt; color: #383838 ; text-decoration: none}
A:hover  { font-family: , u, arial, helvetica; font-size: 9pt; color: #383838 ; text-decoration: none}

td{font-size:9pt; font-family:"", "u",  "arial", "helvetica"; color: 383838; line-height: 20px}
body    { font-size:9pt; font-family:"", "u", "arial", "helvetica"; text-decoration: none; color: #383838; line-height: 20px} 


select { background-color:white;border:1px solid #B0B0B0 ; font-family:; color: #383838; font-size:12px;padding-top:1px; padding-left:1px;padding-right:1px;padding-bottom:1px}

.small  {font-family: , u; font-size:8pt; }
.small  A:link   { font-family: , u, arial, helvetica; font-size: 8pt; color: #666666 ; text-decoration: none}
.small  A:visited{ font-family: , u, Seoul, arial, helvetica; font-size: 8pt; color: #666666  ; text-decoration: none}
.small  A:active { font-family: , u, Seoul, arial, helvetica; font-size: 8pt; color: #949494; text-decoration: none}
.small  A:hover  { font-family: , u, Seoul, arial, helvetica; font-size: 8pt; color: #949494 ; text-decoration: none}

.input  {font-family: , u, arial, helvetica; font-size: 9pt; color: #666666; 	}


.menu  {font-family: , u; font-size: 10pt; color: #ffffff; font-weight: bold  }
.menu   A:link   {font-family: , u; font-size: 10pt; color: #ffffff; font-weight: bold; text-decoration: underline  }
.menu   A:visited   {font-family: , u; font-size: 10pt; color: #ffffff; font-weight: bold; text-decoration: none  }
.menu   A:active   {font-family: , u; font-size: 10pt; color: #ffffff; font-weight: bold; text-decoration: none  }
.menu   A:hover   {font-family: , u; font-size: 10pt; color: #ffffff; font-weight: bold; text-decoration: none  }

.smenu  {font-family: , u; font-size: 9pt; color: #000000;  }
.smenu   A:link   {font-family: , u; font-size: 9pt; color: #000000; text-decoration: underline  }
.smenu   A:visited   {font-family: , u; font-size: 9pt; color: #000000; text-decoration: none  }
.smenu   A:active   {font-family: , u; font-size: 9pt; color: #000000; text-decoration: none  }
.smenu   A:hover   {font-family: , u; font-size: 9pt; color: #000000; text-decoration: none  }