
text { font-size: 12px; line-height: 18px; color: #797979;  font-family: "돋음" }
table { font-size: 12px; line-height: 18px; color: #797979;  font-family: "돋음"}
.field { font-size: 12px; line-height: 18px; color: #797979;  font-family: "Verdana"}

a { selector-dummy : expression(this.hideFocus=true);}  /* 링크시 점선 없애기*/
/* images 관련 */
img { border: 0px; margin: 0px; padding: 0px;}   	/* img border 0  */
img.hand {cursor:pointer;}

BODY
{scrollbar-face-color: #E7E7E7;
scrollbar-shadow-color: #818181; 
scrollbar-highlight-color: #ffffff;
scrollbar-3dlight-color: #CECFCE; 
scrollbar-darkshadow-color: #E7E7E7;
scrollbar-track-color: #f7f7f7;
scrollbar-arrow-color: #313031;
scrollbar-width: 30;SCROLLBAR-ARROW-COLOR: #5D5D5D}

body {
	font-family: Dotum, "돋움", Verdana, Geneva, Helvetica, sans-serif;
	background-color: #ffffff;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

 

.mail  { font-size: 12px;  color: #333333; font-family: "돋음"; text-decoration: none;font-weight:bold; }
   
.all       a:link { font-size: 12px;  color: #838383; font-family: "Verdana"; text-decoration: none; padding:3 0 0 3;}
.all       a:visited { font-size: 12px;  color: #838383; font-family: "Verdana"; text-decoration: none; padding:3 0 0 3;}
.all       a:hover { font-size: 12px;  color: #3E72B5; font-family: "Verdana"; text-decoration: none; padding:3 0 0 3;}

.all_s       a:link { font-size: 12px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none; padding:3 0 0 3;}
.all_s       a:visited { font-size: 12pxs;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none; padding:3 0 0 3;}
.all_s       a:hover { font-size: 12px;  color: #E038FF; font-family: "Verdana"; text-decoration: none; padding:3 0 0 3;}

.board    { font-size: 12px;  color: #AD9D8E; font-family: "Arial";padding:3 0 0 3;}
.board    a:link { font-size: 12px;  color: #797979; font-family: "Arial"; text-decoration: none; padding:3 0 0 3;}
.board    a:visited { font-size: 12px;  color: #797979; font-family: "Arial"; text-decoration: none; padding:3 0 0 3;}
.board    a:hover { font-size: 12px;  color: #AD9D8E; font-family: "Arial"; text-decoration: none; padding:3 0 0 3;}

.qna_s     { font-size: 11px; line-height: 16px; color: #B1B1B1;  font-family: "Verdana" }
.qna    { font-size: 12px; line-height: 16px; color: #B1B1B1;  font-family: "Verdana" }
.qna    a:link { font-size: 12px;  color: #7E7E7E; font-family: "Verdana"; text-decoration: none; padding:3 0 0 3;}
.qna    a:visited { font-size: 12px;  color: #3D9EEA; font-family: "Verdana"; text-decoration: none; padding:3 0 0 3;}
.qna    a:hover { font-size: 12px;  color: #3D9EEA; font-family: "Verdana"; text-decoration: none; padding:3 0 0 3;}

.bluepay    { font-size: 12px;  color: #627BBD; font-family: "Verdana";}
.bluepay    a:link { font-size: 12px;  color: #797979; font-family: "Verdana"; text-decoration: none; padding:3 0 0 3;}
.bluepay    a:visited { font-size: 12px;  color:#797979 ; font-family: "Verdana"; text-decoration: none; padding:3 0 0 3;}
.bluepay    a:hover { font-size: 12px;  color: #627BBD; font-family: "Verdana"; text-decoration: none; padding:3 0 0 3;}

.join    { font-size: 12px;  color: #9669AC; font-family: "Verdana";}
.join    a:link { font-size: 12px;  color: #797979; font-family: "Verdana"; text-decoration: none}
.join    a:visited { font-size: 12px;  color:#797979 ; font-family: "Verdana"; text-decoration: none}
.join    a:hover { font-size: 12px;  color: #9669AC; font-family: "Verdana"; text-decoration: none}

.add    { font-size: 12px;  color: #078F84; font-family: "Verdana";}
.add    a:link { font-size: 12px;  color: #797979; font-family: "Verdana"; text-decoration: none}
.add    a:visited { font-size: 12px;  color:#797979 ; font-family: "Verdana"; text-decoration: none}
.add    a:hover { font-size: 12px;  color: #078F84; font-family: "Verdana"; text-decoration: none}

.green_s     { font-size: 11px;  color: #7DAB00; font-family: "Verdana"; text-decoration: none; line-height:18px;}
.green    { font-size: 12px;  color: #648900; font-family: "Verdana"; text-decoration: none; line-height:18px;}
.green    a:link { font-size: 12px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none}
.green    a:visited { font-size: 12px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none}
.green    a:hover { font-size: 12px;  color: #648900; font-family: "Verdana"; text-decoration: none}

.olive_s     { font-size: 11px;  color: #465FDB; font-family: "Verdana"; text-decoration: none; line-height:18px;}
.olive    { font-size: 12px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none; line-height:18px;}
.olive    a:link { font-size: 12px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none}
.olive    a:visited { font-size: 12px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none}
.olive    a:hover { font-size: 12px;  color: #465FDB; font-family: "Verdana"; text-decoration: none}

.blue_b    { font-size: 12px;  color: #0667B0; font-family: "Verdana"; font-weight: bold; text-decoration: none; line-height:18px;}

.blue_s     { font-size: 11px;  color: #0667B0; font-family: "Verdana"; text-decoration: none; line-height:18px;}
.blue    { font-size: 12px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none; line-height:18px;}
.blue    a:link { font-size: 12px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none}
.blue    a:visited { font-size: 12px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none}
.blue    a:hover { font-size: 12px;  color: #0667B0; font-family: "Verdana"; text-decoration: none}

.work_s     { font-size: 11px;  color: #25ADC1; font-family: "Verdana"; text-decoration: none; line-height:18px;}
.work    { font-size: 12px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none; line-height:18px;}
.work    a:link { font-size: 12px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none}
.work    a:visited { font-size: 12px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none}
.work    a:hover { font-size: 12px;  color: #25ADC1; font-family: "Verdana"; text-decoration: none}

.pink_s     { font-size: 11px;  color: #F16388; font-family: "Verdana"; text-decoration: none; line-height:18px;}
.pink    { font-size: 12px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none; line-height:18px;}
.pink    a:link { font-size: 12px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none}
.pink    a:visited { font-size: 12px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none}
.pink    a:hover { font-size: 12px;  color: #F16388; font-family: "Verdana"; text-decoration: none}

.red_s     { font-size: 11px;  color: #F70000; font-family: "Verdana"; text-decoration: none; line-height:18px;}
.red    { font-size: 12px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none; line-height:18px;}
.red    a:link { font-size: 12px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none}
.red    a:visited { font-size: 12px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none}
.red    a:hover { font-size: 12px;  color: #F70000; font-family: "Verdana"; text-decoration: none}

.com_s     { font-size: 11px;  color: #0096E8; font-family: "Verdana"; text-decoration: none; line-height:18px;}
.com    { font-size: 12px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none; line-height:18px;}
.com    a:link { font-size: 12px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none}
.com    a:visited { font-size: 12px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none}
.com    a:hover { font-size: 12px;  color: #0096E8; font-family: "Verdana"; text-decoration: none}

.violet_s     { font-size: 11px;  color: #8153E9; font-family: "Verdana"; text-decoration: none; line-height:18px;}
.violet    { font-size: 12px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none; line-height:18px;}
.violet    a:link { font-size: 12px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none}
.violet    a:visited { font-size: 12px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none}
.violet    a:hover { font-size: 12px;  color: #8153E9; font-family: "Verdana"; text-decoration: none}

.orange_s    { font-size: 11px;  color: #FF7800; font-family: "Verdana"; text-decoration: none;}
.orange    { font-size: 12px;  color: #FF7800; font-family: "Verdana"; text-decoration: none; line-height:18px;  padding:3 0 0 3;}
.orange    a:link { font-size: 12px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none}
.orange    a:visited { font-size: 12px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none}
.orange    a:hover { font-size: 12px;  color: #FF7800; font-family: "Verdana"; text-decoration: none}

.page      {font-size: 10px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none; line-height:18px;}	
.page      a:link {font-size: 10px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none}	
.page      a:visited {font-size: 10px;  color: #7A7A7A; font-family: "Verdana"; text-decoration: none}	
.page      a:hover {font-size: 10px;  color: #B79654; font-family: "Verdana"; text-decoration: none}

.cal_l     {font-size: 11px;  color: #B1B1B1; font-family: "Verdana"; text-decoration: none;}	
.cal       {font-size: 11px;  color: #797979; font-family: "Verdana"; text-decoration: none}	
.black     {font-size: 12px;  color: #000000; font-family: "Verdana"; text-decoration: none}	
.eng      {font-size: 12px; color: #616161;  font-family: "Verdana"; text-decoration: none }

.text_11  {font-size: 11px; color: #797979;  font-family: "돋음"; text-decoration: none;}

.white    {font-size: 12px; color: #FFFFFF;  font-family: "Verdana"; }

.news {color:#838383; font-size:12px; font-family: "Verdana";line-height:18px;}
.news a:link{color:#838383; text-decoration: none }
.news a:visited{color:#838383; text-decoration: none }
.news a:hover{color:#FF7969; text-decoration: underline }

.business_s     { font-size: 12px; line-height: 16px; color: #2EB0DB;  font-family: "Verdana" }
.company_s   { font-size: 12px;  color: #79A4C1; font-family: "Verdana"; }
.board_title  {font-size: 12px; color: #A97586;  font-family:"Verdana"; font-weight:bold; }

.search_select { font-size: 12px; background-color: #4A88C3; color: #CFEAFF;  width: 130px}
.card_form { font-size: 12px; background-color: #FFFFFF; color:#29445C; border:1 solid #BFCBD5;height:18px;padding:3 0 0 3;}
.search_form_01 { font-size: 12px; background-color: #56B6CE; color: #FFFFFF; }
.item_form { font-size: 12px; background-color: #EBD7AA; color: #8C6000; border: 0 solid #E1C78F;  padding:3 0 0 3; }
.data_form { font-size: 12px; background-color: #F3FF9F; color: #4B7600; }
.form         { font-size: 12px; background-color: #FFFFFF; color: #7E7E7E; border: 1 solid #CDCDCD;  padding:3 0 0 3; height: 20px}
.text_form    { font-size: 12px; background-color: #FFFFFF; color: #797979;  border: 1 solid #CDCDCD; padding:3 0 0 3; height: 19px; padding:2 0 0 3; font-family: "Verdana"}
.text_form1 { font-size: 12px; background-color: #FFFFFF; color: #797979; border: 1 solid #CDCDCD; height: 60px;padding:3 0 3 5;font-family: "Verdana"}
.order_form    { font-size: 12px; background-color: #FFFFFF; color: #797979;  border: 1 solid #E5E5E5; padding:3 0 0 3; height: 19px; padding:2 0 0 3; font-family: "돋음"}

.sub_form { font-size: 12px; background-color: #FFFFFF; color: #5B5B5B; border: 1 solid #CCCCCC; width: 450px ; height: 50px; padding:3 0 0 3;}
.con_form { font-size: 12px; background-color: #FFFFFF; color: #5B5B5B; border: 1 solid #CCCCCC; width: 600px ; height: 150px; padding:3 0 0 3;}

.part_form { font-size: 12px; background-color: #FFFFFF; color: #656565; border: 1 solid #999999; width: 100px ; height: 17px}

.upload_form { font-size: 12px; background-color: #FFFFFF; color: #656565; border: 1 solid #CDCDCD; height: 19px}
.file_form { font-size: 12x; background-color: #FFFFFF; color: #656565; border: 1 solid #999999; width: 134px ; height: 19px}

.con_text_form { font-size: 12px; background-color: #FFFFFF; color: #656565; border: 1 solid #999999; width: 300px ; height: 18px}
.con_name_form { font-size: 12px; background-color: #FFFFFF; color: #656565; border: 1 solid #999999; width: 80px ; height: 18px}

.04b    {font-size: 6px;  color: #1F3B5F; font-family: "04b_11"; }

.write_form { font-size: 12px; background-color: #FFFFFF; color: #656565; border: 1 solid #999999; width: 655px; height: 250px}
.sfile_form { font-size: 12px; background-color: #FFFFFF; color: #656565; border: 1 solid #999999; width: 165px; height: 18px}
.subject_form { font-size: 12px; background-color: #FFFFFF; color: #656565; border: 1 solid #999999; width: 310px; height: 18px}

/**셀렉트박스**/
select{ behavior: url('../selectbox.htc');} 

/**결제창**/
.p_gray   { font-size: 12px;  color: #797979; font-family: "돋음"; line-height:15px;}
.p_gray11    { font-size: 11px;  color: #797979; font-family: "돋음"; line-height:13px;}

.p_orange  { font-size: 12px;  color: #FF6600; font-family: "돋음";line-height:15px;}
.p_orange11  { font-size: 11px;  color: #FF6600; font-family: "돋음";line-height:13px;}

.p_blue    { font-size: 11px;  color: #4C6A82; font-family: "돋음"; line-height:13px;}
.p_blue12   { font-size: 12px;  color: #627BBD; font-family: "돋음"; line-height:15px;}
.p_blue    a:link { font-size: 12px;  color: #797979; font-family: "돋음"; text-decoration: none}
.p_blue    a:visited { font-size: 12px;  color:#797979 ; font-family: "돋음"; text-decoration: none}
.p_blue    a:hover { font-size: 12px;  color: #078F84; font-family: "돋음"; text-decoration: none}

.p_his     { font-size: 11px;  color: #414141; font-family: "돋음";}
.p_w       { font-size: 18px;  color: #FFFFFF; font-family: "돋음";}

.block_blue      {color:#FFFFFF; background-color:#6082B4;}
.block_viloet    {color:#FFFFFF; background-color:#6082B4;}
.block_pink      {color:#FFFFFF; background-color:#6082B4;}
.block_green     {color:#FFFFFF; background-color:#7A941F;}

/** 현금영수증**/
.cash_blue   { font-size: 12px;  color: #1b56af; font-family: "돋음";font-weight:bold; }
.cash_red  { font-size: 12px;  color: #dc4722; font-family: "돋음";font-weight:bold; }
.cash_viloet   { font-size: 12px;  color: #55659e; font-family: "돋음"; }
.cash_form { font-size: 12px; background-color: #FFFFFF; color: #656565; border: 1 solid #9eb9e7; width: 150px ; height: 22px}
.cash_pad { padding:0 0 0 10;}
.cash_link      a:link {  color: #1b56af; font-family: "돋음"; text-decoration: underline}	
.cash_link      a:visited {  color: #1b56af; font-family: "돋음"; text-decoration: underline}	
.cash_link      a:hover {color: #1b56af; font-family: "돋음"; text-decoration: underline}

/**에스크로**/
.escro_text   { font-size: 12px;  color: #4b4b4b; font-family: "돋음"; }
.escro_link     {  color: #4b4b4b; font-family: "돋음"; text-decoration: none}	
.escro_link      a:link {  color: #4b4b4b; font-family: "돋음"; text-decoration: none}	
.escro_link      a:visited {  color: #4b4b4b; font-family: "돋음"; text-decoration: none}	
.escro_link      a:hover {color: #4b4b4b; font-family: "돋음"; text-decoration: none}


