td				{ font-size:9pt; font-family:"", "", "Seoul", "arial", "helvetica"; text-decoration:none; color:294B7E; line-height:12pt }
a:link			{ font-size:9pt; font-family:"", "", "Seoul", "arial", "helvetica"; text-decoration:none; color:294B7E; line-height:12pt }
a:visited		{ font-size:9pt; font-family:"", "", "Seoul", "arial", "helvetica"; text-decoration:none; color:294B7E; line-height:12pt }
a:hover			{ font-size:9pt; font-family:"", "", "Seoul", "arial", "helvetica"; text-decoration:underline; color:986101; line-height:12pt }
a.cls0:link		{ color:294B7E; font-size:9pt; text-decoration:none; }
a.cls0:visited	{ color:294B7E; font-size:9pt; text-decoration:none; }
a.cls0:hover	{ color:986101; font-size:9pt; text-decoration:underline; }
a.cls1:link		{ color:294B7E; font-size:9pt; text-decoration:none; }
a.cls1:visited	{ color:294B7E; font-size:9pt; text-decoration:none; } 
a.cls1:hover	{ color:294B7E; font-size:9pt; text-decoration:none; }

table, p,td { font-family: "µ¸¿ò"; font-size: 12px; font-style: normal; line-height: 18px; font-weight: normal; font-variant: normal; text-transform: none; color: 294B7E; text-decoration: none}
img{border:0;}

body
{ 
	font-size:9pt; 
	font-family:"±¼¸²", "", "Seoul", "arial", "helvetica";
	text-decoration:none; 
	color:294B7E; 
	line-height:12pt 
	scrollbar-face-color:#f0f0f0;
	scrollbar-highlight-color: ffffff;
	scrollbar-3dlight-color: #f2f2f2;
	scrollbar-shadow-color: f9f9f9;
	scrollbar-darkshadow-color: #cccccc;
	scrollbar-track-color: #e6e6e6;
	scrollbar-arrow-color: #4D96BD
}

.input_A {Background-Color:white; Border:1px SOLID #00228B; font-family:"±¼¸²";line-height:12pt; font-size:9pt; color: #ffffff; }
.input_B {Background-Color:F3F8FF; Border:1px SOLID #00228B; font-family:"±¼¸²"; line-height:12pt; font-size:9pt; color:#091C55 }
.input_C {Background-Color:132A6F; Border:1px SOLID #112563; font-family:"±¼¸²"; line-height:12pt; font-size:9pt; color: ffffff }
.copyright  {font-size: 8pt;  }