A:link    {font-size:12px; font-family:"±¼¸²", "µ¸¿ò", "Seoul", "arial", "helvetica"; text-decoration: none;; color: #393939}
A:active  {font-size:12px; font-family:"±¼¸²", "µ¸¿ò", "Seoul", "arial", "helvetica"; text-decoration: underline; color: #000000}
A:visited {font-size:12px; font-family:"±¼¸²", "µ¸¿ò", "Seoul", "arial", "helvetica"; text-decoration: none;; color: #393939}
A:hover   {font-size:12px; font-family:"±¼¸²", "µ¸¿ò", "Seoul", "arial", "helvetica"; text-decoration: underline; color: #000000}
